<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
 <head>
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="{{site.baseurl}}/assets/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="{{site.baseurl}}/assets/images/favicon/site.webmanifest" />
</head>
<!-- end custom head snippets -->
