.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #258829;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-link:hover {
    background-color: #3e8e41;
  }
  
  .download-link i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  
  .download-link span {
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
  }